Tools/XMLSchema/FrameworkDataAttributes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://www.TianoCore.org/2006/Edk2.0" targetNamespace="http://www.TianoCore.org/2006/Edk2.0">
    <!--
    Filename: FrameworkDataAttributes.xsd
    
    Copyright (c) 2006, Intel Corp.
    All rights reserved. This program and the accompanying materials
    are licensed and made available under the terms and conditions of the BSD License
    which may be found at http://opensource.org/licenses/bsd-license.php
    
    THE PROGRAM IS DISTRIBUTED UNDER THE BSD LICENSE ON AN "AS IS" BASIS,
    WITHOUT WARRANTIES OR REPRESENTATIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED.
    
  -->
    <xs:annotation>
        <xs:documentation xml:lang="en">This schema defines EFI and Framework Attribute. Only attributeGroups are specified in this file. </xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="NamingConvention.xsd"/>
    <xs:include schemaLocation="FrameworkDataTypes.xsd"/>
    <xs:attributeGroup name="BaseNameAttributes">
        <xs:attribute name="Guid" type="GuidType" use="optional"/>
        <xs:attribute name="Version" type="VersionDataType" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="BootModeAttributes">
        <xs:attribute name="Guid" type="GuidType" use="optional"/>
        <xs:attribute name="BootModeName" type="BootModeNames" use="required"/>
        <xs:attribute name="Usage" type="BootModeUsage" use="required"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="ConvertAttributeString">
        <xs:attribute name="SourceString" type="xs:string" use="optional"/>
        <xs:attribute default="Unicode" name="OutputFiletype" type="xs:string" use="optional"/>
        <xs:attribute name="OutputFilename" type="FileNameConvention" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="DataHubAttributes">
        <xs:attribute name="Guid" type="GuidType" use="optional"/>
        <xs:attribute name="Usage" type="DataHubUsage" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="DirectoryAttributes">
        <xs:attribute name="Separator" type="ToothPick"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="EventAttributes">
        <xs:attribute name="Usage" type="EventUsage" use="optional"/>
        <xs:attribute name="EventGroup" type="EventTypes" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="ExternAttributes">
        <xs:attribute name="Usage" type="ExternUsage" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="FilenameAttributes">
        <xs:attribute name="Usage" type="FileNameUsage" use="optional"/>
        <xs:attribute name="Guid" type="GuidType" use="optional"/>
        <xs:attribute name="Path" type="DirectoryNamingConvention" use="optional"/>
        <xs:attribute name="FileType" type="xs:string" use="optional"/>
        <xs:attribute name="ToolChain" type="ToolChains" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="FormsetAttributes">
        <xs:attribute name="Usage" type="FormSetUsage" use="optional"/>
        <xs:attribute name="Guid" type="GuidType" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="GuidAttributes">
        <xs:attribute name="Usage" type="GuidUsage" use="optional"/>
        <xs:attribute default="true" name="EnableFeature" type="xs:boolean" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="HobAttributes">
        <xs:attribute name="Usage" type="HobUsage" use="optional"/>
        <xs:attribute name="HobType" type="HobTypes" use="required"/>
        <xs:attribute default="true" name="HobEnabled" type="xs:boolean" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="IncludeAttributes">
        <xs:attribute name="Guid" type="GuidType" use="optional"/>
        <xs:attribute name="Path" type="DirectoryNamingConvention" use="optional"/>
        <xs:attribute name="Class" type="xs:normalizedString" use="optional"/>
        <xs:attribute name="Version" type="VersionDataType" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
        <xs:attribute name="ModuleType" type="ModuleTypeDef" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="LibraryAttributes">
        <xs:attribute name="Guid" type="GuidType" use="optional"/>
        <xs:attribute name="LibraryClass" type="BaseNameConvention" use="optional"/>
        <xs:attribute name="ClassGuid" type="GuidType" use="optional"/>
        <xs:attribute name="Version" type="VersionDataType" use="optional"/>
        <xs:attribute name="Usage" type="LibraryUsage" use="optional"/>
        <xs:attribute name="Package" type="xs:string" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="ModuleNameAttributes">
        <xs:attribute name="Guid" type="GuidType" use="optional"/>
        <xs:attribute name="Version" type="VersionDataType" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="MsaAttributes">
        <xs:attribute name="Arch" type="SupportedArchitectures" use="optional"/>
        <xs:attribute name="FvBinding" type="xs:string" use="optional"/>
        <xs:attribute name="ModuleName" type="C_Name" use="optional"/>
        <xs:attribute name="ModuleGuid" type="GuidType" use="optional"/>
        <xs:attribute name="PackageName" type="C_Name" use="optional"/>
        <xs:attribute name="PackageGuid" type="GuidType" use="optional"/>
        <xs:attribute name="BuildSequence" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="OptionAttributes">
        <xs:attribute name="Platform" type="PlatformNamingConvention" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
        <xs:attribute name="ToolChain" type="ToolChains" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="PackageAttributes">
        <xs:attribute name="Usage" type="PackageUsage" use="optional"/>
        <xs:attribute name="PackageType" type="PackageType" use="optional"/>
        <xs:attribute name="UpdatedDate" type="DateType" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="PackageNameAttributes">
        <xs:attribute name="Guid" type="GuidType" use="optional"/>
        <xs:attribute name="Version" type="VersionDataType" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="PcdAttributes">
        <xs:annotation>
            <xs:documentation xml:lang="en">These attributes are for the Pcds listed in PcdData, PcdEntry and/or PcdBuildData entries.</xs:documentation>
            <xs:documentation xml:lang="en">PcdUsage is only valid for PcdItemTypes = FEATURE_FLAG</xs:documentation>
        </xs:annotation>
        <xs:attribute name="ItemType" type="PcdItemTypes" use="required"/>
        <xs:attribute name="PcdUsage" type="PcdUsage" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="PlatformAttributes">
        <xs:attribute name="Guid" type="GuidType" use="optional"/>
        <xs:attribute name="Version" type="VersionDataType" use="optional"/>
        <xs:attribute name="AlternateName" type="FileNameConvention" use="optional"/>
        <xs:attribute name="PlatformName" type="BaseNameConvention" use="optional"/>
        <xs:attribute name="PlatformGuid" type="GuidType" use="optional"/>
        <xs:attribute name="PlatformVersion" type="xs:string" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="PpiAttributes">
        <xs:attribute name="Guid" type="GuidType" use="optional"/>
        <xs:attribute name="Usage" type="PpiUsage" use="optional"/>
        <xs:attribute default="true" name="EnableFeature" type="xs:boolean" use="optional"/>
        <xs:attribute name="FeatureFlag" type="C_Name" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="PpiNotifyAttributes">
        <xs:attribute name="Guid" type="GuidType" use="optional"/>
        <xs:attribute name="Usage" type="PpiNotifyUsage" use="optional"/>
        <xs:attribute default="true" name="EnableFeature" type="xs:boolean" use="optional"/>
        <xs:attribute name="FeatureFlag" type="C_Name" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="ProtocolAttributes">
        <xs:attribute name="Guid" type="GuidType" use="optional"/>
        <xs:attribute name="Usage" type="ProtocolUsage" use="optional"/>
        <xs:attribute default="true" name="EnableFeature" type="xs:boolean" use="optional"/>
        <xs:attribute name="FeatureFlag" type="C_Name" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="ProtocolNotifyAttributes">
        <xs:attribute name="Guid" type="GuidType" use="optional"/>
        <xs:attribute name="Usage" type="ProtocolNotifyUsage" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="SectionAttributes">
        <xs:annotation>
            <xs:documentation xml:lang="en">Attributes are either compressable and/or sequence order binding</xs:documentation>
        </xs:annotation>
        <xs:attribute name="SectionType" type="EfiSectionType" use="optional"/>
        <xs:attribute default="true" name="Compressible" type="xs:boolean" use="optional"/>
        <xs:attribute name="BindingOrder" type="xs:int" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="SectionsAttributes">
        <xs:annotation>
            <xs:documentation xml:lang="en">Attributes for Sections, EncapsulationTag, EncapsulationType and OverrideID</xs:documentation>
        </xs:annotation>
        <xs:attribute name="EncapsulationType" type="xs:normalizedString" use="optional"/>
        <xs:attribute name="EncapsulationTag" type="xs:string" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="SystemTableAttributes">
        <xs:attribute name="Usage" type="SystemTableUsage" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="VariableAttributes">
        <xs:attribute name="Usage" type="VariableUsage" use="optional"/>
        <xs:attribute name="OverrideID" type="xs:int" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="UrlAttribute">
        <xs:attribute name="Url" type="xs:anyURI"/>
    </xs:attributeGroup>
</xs:schema>
