Tools/XMLSchema/FrameworkDataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://www.TianoCore.org/2006/Edk2.0" targetNamespace="http://www.TianoCore.org/2006/Edk2.0">
    <!--
    Filename: FrameworkDataTypes.xsd
    
    Copyright (c) 2006, Intel Corp.
    All rights reserved. This program and the accompanying materials
    are licensed and made available under the terms and conditions of the BSD License
    which may be found at http://opensource.org/licenses/bsd-license.php
    
    THE PROGRAM IS DISTRIBUTED UNDER THE BSD LICENSE ON AN "AS IS" BASIS,
    WITHOUT WARRANTIES OR REPRESENTATIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED.
    
  -->
    <xs:annotation>
        <xs:documentation xml:lang="en">This schema defines EFI and Framework Data Types. Only simpleType are specified in this file. </xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="NamingConvention.xsd"/>
    <xs:simpleType name="ArchListType">
        <xs:list itemType="SupportedArchitectures"/>
    </xs:simpleType>
    <xs:simpleType name="BlockNameType">
        <xs:restriction base="UCNameType">
            <xs:pattern value="BLOCK([A-F0-9]){2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BootModeNames">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="MINIMAL"/>
            <xs:enumeration value="NO_CHANGE"/>
            <xs:enumeration value="DIAGNOSTICS"/>
            <xs:enumeration value="DEFAULT"/>
            <xs:enumeration value="S2_RESUME"/>
            <xs:enumeration value="S3_RESUME"/>
            <xs:enumeration value="S4_RESUME"/>
            <xs:enumeration value="S5_RESUME"/>
            <xs:enumeration value="FLASH_UPDATE"/>
            <xs:enumeration value="RECOVERY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BootModeUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_CONSUMED"/>
            <xs:enumeration value="SOMETIMES_CONSUMED"/>
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="SOMETIMES_PRODUCED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BuildTargets">
        <xs:restriction base="xs:NCName">
            <xs:enumeration value="DEBUG"/>
            <xs:enumeration value="RELEASE"/>
            <xs:enumeration value="BOTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ComponentExecutionPhase">
        <xs:restriction base="UCNameType">
            <xs:enumeration value="MDE"/>
            <xs:enumeration value="SEC"/>
            <xs:enumeration value="PEI_CORE"/>
            <xs:enumeration value="PEIM"/>
            <xs:enumeration value="DXE_CORE"/>
            <xs:enumeration value="DXE_DRIVER"/>
            <xs:enumeration value="DXE_RUNTIME_DRIVER"/>
            <xs:enumeration value="DXE_SAL_DRIVER"/>
            <xs:enumeration value="DXE_SMM_DRIVER"/>
            <xs:enumeration value="UEFI"/>
            <xs:enumeration value="UEFI_APPLICATION"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ConditionalTarget">
        <xs:list itemType="C_Name"/>
    </xs:simpleType>
    <xs:simpleType name="DataHubUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_CONSUMED"/>
            <xs:enumeration value="SOMETIMES_CONSUMED"/>
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="SOMETIMES_PRODUCED"/>
            <xs:enumeration value="PRIVATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType">
        <xs:restriction base="xs:normalizedString">
            <xs:pattern value="[1-9][0-9][0-9][0-9]-[0-1][0-9]-[0-3][0-9] [0-2][0-9]:[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DatumSizeLimitation">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="16777215"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DefaultValue">
        <xs:union memberTypes="xs:normalizedString xs:int UnicodeString"/>
    </xs:simpleType>
    <xs:simpleType name="EfiSectionType">
        <xs:restriction base="UCNameType">
            <xs:enumeration value="EFI_SECTION_FREEFORM_SUBTYPE_GUID"/>
            <xs:enumeration value="EFI_SECTION_VERSION"/>
            <xs:enumeration value="EFI_SECTION_USER_INTERFACE"/>
            <xs:enumeration value="EFI_SECTION_DXE_DEPEX"/>
            <xs:enumeration value="EFI_SECTION_PEI_DEPEX"/>
            <xs:enumeration value="EFI_SECTION_PE32"/>
            <xs:enumeration value="EFI_SECTION_PIC"/>
            <xs:enumeration value="EFI_SECTION_TE"/>
            <xs:enumeration value="EFI_SECTION_RAW"/>
            <xs:enumeration value="EFI_SECTION_COMPRESSION"/>
            <xs:enumeration value="EFI_SECTION_GUID_DEFINED"/>
            <xs:enumeration value="EFI_SECTION_COMPATIBILITY16"/>
            <xs:enumeration value="EFI_SECTION_FIRMWARE_VOLUME_IMAGE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventTypes">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="EVENT_GROUP_EXIT_BOOT_SERVICES"/>
            <xs:enumeration value="EVENT_GROUP_VIRTUAL_ADDRESS_CHANGE"/>
            <xs:enumeration value="EVENT_GROUP_MEMORY_MAP_CHANGE"/>
            <xs:enumeration value="EVENT_GROUP_READY_TO_BOOT"/>
            <xs:enumeration value="EVENT_GROUP_LEGACY_BOOT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_CONSUMED"/>
            <xs:enumeration value="SOMETIMES_CONSUMED"/>
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="SOMETIMES_PRODUCED"/>
            <xs:enumeration value="PRIVATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExecutionType">
        <xs:restriction base="UCNameType">
            <xs:enumeration value="REL" id="Relocatable"/>
            <xs:enumeration value="NREL" id="Non-Relocatable"/>
            <xs:enumeration value="XIP" id="Execute_In_Place"/>
            <xs:enumeration value="PIC" id="Position_Independent_Code"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(_*\w*\W*)*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_CONSUMED"/>
            <xs:enumeration value="ALWAYS_PRODUCED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FileNameUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_CONSUMED"/>
            <xs:enumeration value="SOMETIMES_CONSUMED"/>
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="SOMETIMES_PRODUCED"/>
            <xs:enumeration value="PRIVATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FormSetUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="SOMETIMES_PRODUCED"/>
            <xs:enumeration value="PRIVATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FrameworkComponentTypes">
        <xs:restriction base="UCNameType">
            <xs:enumeration value="APRIORI"/>
            <xs:enumeration value="SEC"/>
            <xs:enumeration value="LIBRARY"/>
            <xs:enumeration value="FV_IMAGE_FILE"/>
            <xs:enumeration value="BS_DRIVER"/>
            <xs:enumeration value="RT_DRIVER"/>
            <xs:enumeration value="SAL_RT_DRIVER"/>
            <xs:enumeration value="PE32_PEIM"/>
            <xs:enumeration value="PIC_PEIM"/>
            <xs:enumeration value="COMBINED_PEIM_DRIVER"/>
            <xs:enumeration value="PEI_CORE"/>
            <xs:enumeration value="DXE_CORE"/>
            <xs:enumeration value="APPLICATION"/>
            <xs:enumeration value="BS_DRIVER_EFI"/>
            <xs:enumeration value="SHELLAPP"/>
            <xs:enumeration value="UEFI_APPLICATION"/>
            <xs:enumeration value="BINARY"/>
            <xs:enumeration value="LOGO"/>
            <xs:enumeration value="CUSTOM_BUILD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FrameworkModuleTypes">
        <xs:restriction base="ModuleTypeDef">
            <xs:enumeration value="BASE"/>
            <xs:enumeration value="SEC"/>
            <xs:enumeration value="PEI_CORE"/>
            <xs:enumeration value="PEIM"/>
            <xs:enumeration value="DXE_CORE"/>
            <xs:enumeration value="DXE_DRIVER"/>
            <xs:enumeration value="DXE_RUNTIME_DRIVER"/>
            <xs:enumeration value="DXE_SAL_DRIVER"/>
            <xs:enumeration value="DXE_SMM_DRIVER"/>
            <xs:enumeration value="UEFI_DRIVER"/>
            <xs:enumeration value="UEFI_APPLICATION"/>
            <xs:enumeration value="USER_DEFINED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FvRegionTypes">
        <xs:restriction base="UCNameType">
            <xs:enumeration value="FV_MAIN"/>
            <xs:enumeration value="FV_MAIN_COMPACT"/>
            <xs:enumeration value="NV_STORAGE"/>
            <xs:enumeration value="FV_RECOVERY"/>
            <xs:enumeration value="FV_RECOVERY_FLOPPY"/>
            <xs:enumeration value="FV_FILE"/>
            <xs:enumeration value="CAPSULE_CARGO"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="USER_DEFINED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GuidUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_CONSUMED"/>
            <xs:enumeration value="SOMETIMES_CONSUMED"/>
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="SOMETIMES_PRODUCED"/>
            <xs:enumeration value="DEFAULT"/>
            <xs:enumeration value="PRIVATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HiiPackageUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="SOMETIMES_PRODUCED"/>
            <xs:enumeration value="PRIVATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HobTypes">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="PHIT"/>
            <xs:enumeration value="MEMORY_ALLOCATION"/>
            <xs:enumeration value="RESOURCE_DESCRIPTOR"/>
            <xs:enumeration value="GUID_EXTENSION"/>
            <xs:enumeration value="FIRMWARE_VOLUME"/>
            <xs:enumeration value="CPU"/>
            <xs:enumeration value="POOL"/>
            <xs:enumeration value="CAPSULE_VOLUME"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HobUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_CONSUMED"/>
            <xs:enumeration value="SOMETIMES_CONSUMED"/>
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="SOMETIMES_PRODUCED"/>
            <xs:enumeration value="PRIVATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IntList">
        <xs:list itemType="xs:positiveInteger"/>
    </xs:simpleType>
    <xs:simpleType name="LibraryUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_CONSUMED"/>
            <xs:enumeration value="SOMETIMES_CONSUMED"/>
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="SOMETIMES_PRODUCED"/>
            <xs:enumeration value="DEFAULT"/>
            <xs:enumeration value="PRIVATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ModuleTypeDef">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="BASE"/>
            <xs:enumeration value="SEC"/>
            <xs:enumeration value="PEI_CORE"/>
            <xs:enumeration value="PEIM"/>
            <xs:enumeration value="DXE_CORE"/>
            <xs:enumeration value="DXE_DRIVER"/>
            <xs:enumeration value="DXE_RUNTIME_DRIVER"/>
            <xs:enumeration value="DXE_SAL_DRIVER"/>
            <xs:enumeration value="DXE_SMM_DRIVER"/>
            <xs:enumeration value="TOOLS"/>
            <xs:enumeration value="UEFI_DRIVER"/>
            <xs:enumeration value="UEFI_APPLICATION"/>
            <xs:enumeration value="USER_DEFINED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ModuleTypeList">
        <xs:list itemType="FrameworkModuleTypes"/>
    </xs:simpleType>
    <xs:simpleType name="Module_Unified">
        <xs:restriction base="UCNameType">
            <xs:enumeration value="MODULE"/>
            <xs:enumeration value="UNIFIED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PackageType">
        <xs:restriction base="UCNameType">
            <xs:enumeration value="SOURCE"/>
            <xs:enumeration value="BINARY"/>
            <xs:enumeration value="MIXED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PackageUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_CONSUMED"/>
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="DEFAULT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PcdListType">
        <xs:list itemType="PcdItemTypes"/>
    </xs:simpleType>
    <xs:simpleType name="PcdTypes">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="FIXED_AT_BUILD"/>
            <xs:enumeration value="FEATURE_FLAG"/>
            <xs:enumeration value="PATCHABLE_IN_MODULE"/>
            <xs:enumeration value="DYNAMIC"/>
            <xs:enumeration value="DYNAMIC_EX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PcdDriverTypes">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="PEI_PCD_DRIVER"/>
            <xs:enumeration value="DXE_PCD_DRIVER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PcdDataTypes">
        <xs:restriction base="xs:normalizedString">
            <xs:enumeration value="UINT8"/>
            <xs:enumeration value="UINT16"/>
            <xs:enumeration value="UINT32"/>
            <xs:enumeration value="UINT64"/>
            <xs:enumeration value="VOID*"/>
            <xs:enumeration value="BOOLEAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PcdFeatureFlagUsage">
        <xs:restriction base="UsageTypes">
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="DEFAULT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PcdItemTypes">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="FEATURE_FLAG"/>
            <xs:enumeration value="FIXED_AT_BUILD"/>
            <xs:enumeration value="PATCHABLE_IN_MODULE"/>
            <xs:enumeration value="DYNAMIC"/>
            <xs:enumeration value="DYNAMIC_EX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PcdUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_CONSUMED"/>
            <xs:enumeration value="SOMETIMES_CONSUMED"/>
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="SOMETIMES_PRODUCED"/>
            <xs:enumeration value="DEFAULT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PpiNotifyUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="SOMETIMES_CONSUMED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PpiUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_CONSUMED"/>
            <xs:enumeration value="SOMETIMES_CONSUMED"/>
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="SOMETIMES_PRODUCED"/>
            <xs:enumeration value="PRIVATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProtocolNotifyUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="SOMETIMES_CONSUMED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProtocolUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_CONSUMED"/>
            <xs:enumeration value="SOMETIMES_CONSUMED"/>
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="SOMETIMES_PRODUCED"/>
            <xs:enumeration value="TO_START"/>
            <xs:enumeration value="BY_START"/>
            <xs:enumeration value="PRIVATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SkuListType">
        <xs:list itemType="HexByteDataType"/>
    </xs:simpleType>
    <xs:simpleType name="SupportedArchitectures">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALL"/>
            <xs:enumeration value="EBC"/>
            <xs:enumeration value="ARM"/>
            <xs:enumeration value="IA32"/>
            <xs:enumeration value="X64"/>
            <xs:enumeration value="IPF"/>
            <xs:enumeration value="PPC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SystemTableUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_CONSUMED"/>
            <xs:enumeration value="SOMETIMES_CONSUMED"/>
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="SOMETIMES_PRODUCED"/>
            <xs:enumeration value="PRIVATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Token">
        <xs:union memberTypes="GuidArrayType GuidNamingConvention HexDoubleWordDataType"/>
    </xs:simpleType>
    <xs:simpleType name="ToolChains">
        <xs:restriction base="UCNameType">
            <xs:enumeration value="MSFT"/>
            <xs:enumeration value="INTEL"/>
            <xs:enumeration value="GCC"/>
            <xs:enumeration value="CYGWIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ToothPick">
        <xs:restriction base="xs:normalizedString">
            <xs:enumeration value="UNIX"/>
            <xs:enumeration value="WINDOWS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UiNameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(([a-zA-Z][a-zA-Z0-9]*)(_)*(.)*)+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnicodeString">
        <xs:restriction base="xs:normalizedString">
            <xs:pattern value="L(:)?(&quot;)(\w+)*((\W*)*(\s*)*(\w*)*)*(&quot;)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UsageTypes">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_CONSUMED"/>
            <xs:enumeration value="SOMETIMES_CONSUMED"/>
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="SOMETIMES_PRODUCED"/>
            <xs:enumeration value="TO_START"/>
            <xs:enumeration value="BY_START"/>
            <xs:enumeration value="PRIVATE"/>
            <xs:enumeration value="DEFAULT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VariableOffsetValues">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d+(:)?\d*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VariableUsage">
        <xs:restriction base="NameConvention">
            <xs:enumeration value="ALWAYS_CONSUMED"/>
            <xs:enumeration value="SOMETIMES_CONSUMED"/>
            <xs:enumeration value="ALWAYS_PRODUCED"/>
            <xs:enumeration value="SOMETIMES_PRODUCED"/>
            <xs:enumeration value="PRIVATE"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Complex Data Types -->
    <xs:complexType name="ArgsType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Arg" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ToolType">
        <xs:sequence>
            <xs:element name="ToolName" type="xs:string"/>
            <xs:element name="ToolArgs" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
