Tools/XMLSchema/SurfaceArea.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.TianoCore.org/2006/Edk2.0" xmlns="http://www.TianoCore.org/2006/Edk2.0">
    <!--
    Filename: SurfaceArea.xsd
    
    Copyright (c) 2006, Intel Corp.
    All rights reserved. This program and the accompanying materials
    are licensed and made available under the terms and conditions of the BSD License
    which may be found at http://opensource.org/licenses/bsd-license.php
    
    THE PROGRAM IS DISTRIBUTED UNDER THE BSD LICENSE ON AN "AS IS" BASIS,
    WITHOUT WARRANTIES OR REPRESENTATIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED.
    
  -->
    <xs:include schemaLocation="FrameworkHeaders.xsd"/>
    <xs:include schemaLocation="FrameworkDataElements.xsd"/>
    <xs:include schemaLocation="FrameworkPlatformDataElements.xsd"/>
    <xs:annotation>
        <xs:documentation xml:lang="en">The following defines the valid format for the Framework Database (DB) File.</xs:documentation>
    </xs:annotation>
    <xs:element name="FrameworkDatabase">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="FdbHeader"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="PackageList"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="PlatformList"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="FarList"/>                
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="UserExtensions"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:annotation>
        <xs:documentation xml:lang="en">The following describes the valid format for the Framework Platform Description (FPD) File.</xs:documentation>
    </xs:annotation>
    <xs:element name="FrameworkPlatformDescription">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="PlatformHeader"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="PlatformDefinitions"/>                
                <xs:element minOccurs="0" maxOccurs="1" ref="SkuInfo"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Flash"/>
                <!-- DO NOT USE! removing TianoImage, use FrameworkModules instead. -->
                <xs:element minOccurs="0" maxOccurs="1" ref="TianoImage"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="FrameworkModules"/>
                <!-- DO NOT USE! removing PcdBuildDeclarations here, use PcdBuildDeclaratiion in ModuleSA instead. -->
                <xs:element minOccurs="0" maxOccurs="1" ref="PcdBuildDeclarations"/>
                <xs:choice minOccurs="0">
                    <!-- DO NOT USE! removing PcdDynamicBuildDeclarations here, use DynamicPcdBuildDefinitions in ModuleSA instead. -->
                    <xs:element minOccurs="0" maxOccurs="1" ref="PcdDynamicBuildDeclarations"/>
                    <xs:element minOccurs="0" maxOccurs="1" ref="DynamicPcdBuildDefinitions"/>
                </xs:choice>
                <xs:element minOccurs="0" maxOccurs="1" ref="BuildOptions"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="UserExtensions"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:annotation>
        <xs:documentation xml:lang="en">DO NOT USE removing all Library Module files - PUT IN PLATFORM DESCRIPTION FILE, FPD</xs:documentation>
    </xs:annotation>
    <xs:element name="LibraryModuleBuildDescription">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="MbdLibHeader"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="SourceFiles"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Includes"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Libraries"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Protocols"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Events"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Hobs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="PPIs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Variables"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="BootModes"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="SystemTables"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="DataHubs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Formsets"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Guids"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Externs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="PCDs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="BuildOptions"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:annotation>
        <xs:documentation xml:lang="en">DO NOT USE Removing all Library Module files - USE MODULE DESCRIPTION FILE, MSA</xs:documentation>
    </xs:annotation>
    <xs:element name="LibraryModuleSurfaceArea">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="MsaLibHeader"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="LibraryClassDefinitions"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="SourceFiles"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Includes"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Libraries"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Protocols"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Events"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Hobs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="PPIs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Variables"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="BootModes"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="SystemTables"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="DataHubs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Formsets"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Guids"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Externs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="PCDs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="PcdCoded"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="BuildOptions"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:annotation>
        <xs:documentation xml:lang="en">DO NOT USE Removing Build Description files - PUT IN PLATFORM DESCRIPTION FILE, FPD or RecommendedInstance Attribute in MSA LibraryClass</xs:documentation>
    </xs:annotation>
    <xs:element name="ModuleBuildDescription">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="MbdHeader"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="SourceFiles"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Includes"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Libraries"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Protocols"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Events"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Hobs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="PPIs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Variables"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="BootModes"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="SystemTables"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="DataHubs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Formsets"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Guids"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Externs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="PCDs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="BuildOptions"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:annotation>
        <xs:documentation xml:lang="en">This is the Module Surface Area Description (MSA) that contains the list of the module's source files, library classes that can or must be used by the module, the Include Paths, Protocols and Ppi's that are either produced or consued.</xs:documentation>
    </xs:annotation>
    <xs:element name="ModuleSurfaceArea">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="MsaHeader"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="ModuleDefinitions"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="LibraryClassDefinitions"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="SourceFiles"/>
                <xs:choice minOccurs="0">
                    <!-- DO NOT USE! removing Includes, use PackageDependencies instead -->
                    <xs:element minOccurs="0" maxOccurs="1" ref="Includes"/>
                    <xs:element minOccurs="0" maxOccurs="1" ref="PackageDependencies"/>
                </xs:choice>
                <xs:element minOccurs="0" maxOccurs="1" ref="Protocols"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Events"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Hobs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="PPIs"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Variables"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="BootModes"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="SystemTables"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="DataHubs"/>
                <!-- DO NOT USE! removing Formsets, use HiiPackages instead -->
                <xs:element minOccurs="0" maxOccurs="1" ref="Formsets"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="HiiPackages"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Guids"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Externs"/>
                <xs:choice minOccurs="0">
                    <!-- DO NOT USE! removing PCDs, use PcdCoded instead -->
                    <xs:element minOccurs="0" maxOccurs="1" ref="PCDs"/>
                    <xs:element minOccurs="0" maxOccurs="1" ref="PcdCoded"/>
                </xs:choice>
                <xs:element minOccurs="0" maxOccurs="1" ref="BuildOptions"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="ModuleBuildOptions"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="UserExtensions"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:annotation>
        <xs:documentation xml:lang="en">This describes the valid content for a Package Surface Area Description (SPD) file.</xs:documentation>
    </xs:annotation>
    <xs:element name="PackageSurfaceArea">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="SpdHeader"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="PackageDefinitions"/>                
                <xs:element minOccurs="0" maxOccurs="1" ref="LibraryClassDeclarations"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="IndustryStdIncludes"/>
                <!-- DO NOT USE removing THIS INSTANCE of PackageDependencies, this is moving to FDP installation process -->
                <xs:element minOccurs="0" maxOccurs="1" ref="PackageDependencies"/>
                <!-- DO NOT USE removing MsaFiles, use MsaFileList instead , do not wrap in choice, too many entries to convert all at once. -->
                <xs:element minOccurs="0" maxOccurs="1" ref="MsaFiles"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="PackageHeaders"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="GuidDeclarations"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="ProtocolDeclarations"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="PpiDeclarations"/>
                <xs:choice minOccurs="0">
                    <!-- DO NOT USE! removing PcdDefinitions, use PcdDeclarations instead. -->
                    <xs:element minOccurs="0" maxOccurs="1" ref="PcdDefinitions"/>
                    <xs:element minOccurs="0" maxOccurs="1" ref="PcdDeclarations"/>
                </xs:choice>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="UserExtensions"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
